.container-about-design {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -50px;
}

.container-about-design img {
    width: 500px;
}

.swiper-button-next, .swiper-button-prev {
    color: var(--color-white) !important;
}