.contact-container {
    background-color: var(--color-background-light);
    margin-top: -10px;
    z-index: 10;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subdiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subdiv h3 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}

.subdiv form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.subdiv form input,
.subdiv form textarea {
    padding: 15px 15px;
    width: 100%;
    border-radius: 30px;
    background: linear-gradient(#211D1D, #211D1D) padding-box, linear-gradient(to right, var(--color-purple-dark), rgba(138, 19, 232, 0.6)) border-box;
    border: 5px solid transparent;
    margin-top: 15px;
    font-size: 16px;
    color: var(--color-white);
    outline: none;
}

.subdiv form textarea {
    resize: none;
}

.subdiv form label {
    position: absolute;
    bottom: 10px;
    left: 0px;
    pointer-events: none;
    font-size: 16px;
}

.subdiv:first-child {
    margin-left: -200px !important;
}

.border-img {
    border: 1px solid var(--color-purple-dark);
    border-radius: 100%;
    width: 540px;
    height: 540px;
    overflow: hidden;
}

.img-jonathas {
    width: 550px;
    height: 550px;
}

.triangles-jonathas {
    margin: 20px 0px;
    width: 250px;
}

.btn-send {
    background-color: var(--color-purple-dark);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 60px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 17px;
}

.btn-send:active {
    background-color: var(--color-purple-darkest);
}

.container-contact-triangles {
    display: flex;
    align-items: center;
    margin-right: -200px;
}

.triangles-vertical {
    width: 250px;
    transform: rotate(-90deg);
}

.subdiv-container-form {
    width: 600px;
    margin-right: -80px;
}