.contact-container {
    background-color: var(--color-background-light);
    margin-top: -10px;
    z-index: 10;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subdiv-container-form h3 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}

.subdiv-container-form form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.subdiv-container-form form input,
.subdiv-container-form form textarea {
    padding: 15px 15px;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(#211D1D, #211D1D) padding-box, linear-gradient(to right, var(--color-purple-dark), rgba(138, 19, 232, 0.6)) border-box;
    border: 2px solid transparent;
    margin-top: 15px;
    font-size: 16px;
    color: var(--color-white);
    outline: none;
}

.subdiv-container-form form textarea {
    resize: none;
}

.subdiv-container-form form label {
    position: absolute;
    bottom: 10px;
    left: 0px;
    pointer-events: none;
    font-size: 16px;
}

.btn-send {
    background-color: var(--color-purple-dark);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 60px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 17px;
    min-width: 60%;
}

.btn-send:active {
    background-color: var(--color-purple-darkest);
}

.container-contact-triangles {
    display: flex;
    align-items: center;
}

.triangles-vertical {
    transform: rotate(-90deg);
}

.subdiv-container-form {
    width: 600px;
}