* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}
a {
    text-decoration: none;
}

.purple {
    color: var(--color-purple-dark);
}